*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.tritoggle-switch {
    --tritoggle-height: 20px;
    --tritoggle-width: 70px;
    --tritoggle-switch-speed: 0.05s;
    --english: "EN";
    --chinese: "中文";
    --half: "\00BD";
    --tritoggle-border-radius: calc(var(--tritoggle-height) / 3.5);
    --tritoggle-font-size: 0.65rem;
    --tritoggle-mid-button-font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #242729;
    border-radius: 50px;
 }
 
.tritoggle-switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.tritoggle-switch input + label {
    font-size: var(--tritoggle-font-size);
    font-weight: bold;
    width: calc(var(--tritoggle-width) / 3);
    height: var(--tritoggle-height);
    background-color: #333;
    color: #888;
    border: 1px solid #888;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tritoggle-switch input + label.both {
    font-size: var(--tritoggle-mid-button-font-size);
}

.tritoggle-switch input + label.en {
    border-top-left-radius: var(--tritoggle-border-radius);
    border-bottom-left-radius: var(--tritoggle-border-radius);
}

.tritoggle-switch input + label.zh {
    border-top-right-radius: var(--tritoggle-border-radius);
    border-bottom-right-radius: var(--tritoggle-border-radius);
}

.tritoggle-switch input + label.en::before {
    content: var(--english);
}

.tritoggle-switch input + label.both::before {
    content: var(--half);
}

.tritoggle-switch input + label.zh::before {
    content: var(--chinese);
}

/* .tritoggle-switch input:checked + label {
    color: white;
    border: 1px solid rgb(1, 183, 125);
    background: rgb(2, 102, 2);
    transition: var(--tritoggle-switch-speed) linear all;
} */

.tritoggle-switch input:checked + label.en {
    color: white;
    border: 1px solid rgb(85, 172, 235);
    background: rgb(18, 53, 158);
    transition: var(--tritoggle-switch-speed) linear all;
}

.tritoggle-switch input:checked + label.zh {
    color: white;
    border: 1px solid rgb(249, 123, 123);
    background: rgb(135, 22, 22);
    transition: var(--tritoggle-switch-speed) linear all;
}

.tritoggle-switch input:checked + label.both {
    color: white;
    border: 1px solid rgb(228, 123, 249);
    background: rgb(89, 16, 106);
    transition: var(--tritoggle-switch-speed) linear all;
}