*, *::before, *::after {
    box-sizing: border-box;
    --nav-height: 60px;
    --large-font-size: 1.4rem;
    --very-large-font-size: 1.6rem;
    --medium-font-size: 1.2rem;
    --nav-list-gap: 0;
    --triptych-gap: 0;
    --min-triptych-column-width: 450px;
    --main-search-bar-height: 35px;
    --main-search-bar-width: min(500px, 70vw);
    --main-search-border-tone: 50;
    --main-search-border-color: rgb(var(--main-search-border-tone), var(--main-search-border-tone), var(--main-search-border-tone));
    --main-search-background-color: rgb(40, 40, 40);
    --main-search-button-width: calc(var(--main-search-bar-height) * 1.2);
    --main-total-search-width: calc(var(--main-search-bar-width) + var(--main-search-button-width) * 2);

    --results-search-bar-width: min(500px, 76%);
    --results-search-button-width: calc(var(--main-search-bar-height) * 1.2);
    --results-total-search-width: calc(var(--results-search-bar-width) + var(--results-search-button-width) * 2);

    --result-card-width: 95%;
}

#root {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.body {
    font-family: 'Source Sans Pro', sans-serif;
    /* height: 100vh; */
    min-width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #222;
}

.nav {
    background-color: #333;
    padding: 0;
    min-height: var(--nav-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--medium-font-size);
}

.nav-logo {
    margin: 0 1rem;
    color: white;
    font-size: var(--large-font-size);
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.nav-links-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-links-ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--nav-list-gap);
}

.nav-links-ul li {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links-ul li.active {
    background-color: black;
}

.nav-links-ul li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 0 2.0rem;
}

.main-panel {
    flex-grow: 1;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: var(--triptych-gap);
    justify-content: flex-start;
    align-items: flex-start;
    min-width: auto;
    margin: 0; 
    padding: 2px;
    overflow-y: hidden;
}

.main-panel::before {
    content: "";
    background-image: url("img/hong-kong-5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    /* top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; */
    opacity: 0.5;
    -webkit-filter: blur(5px);
}

.top-layer {
    position: relative;
}

.nav-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-search-area {
    width: 100%;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-search-bar-label {
    font-size: var(--very-large-font-size);
    font-weight: 400;
    margin-bottom: .5rem;
}

.main-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-search-input, .main-search-btn {
    border: solid 1px var(--main-search-border-color);
    margin: 10px 0 0 0;
    height: var(--main-search-bar-height);
}

.main-search-btn {
    width: var(--main-search-button-width);
}

.main-basic-search-btn {
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-adv-search-btn {
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-search-btn span.main-search-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-search-btn span.main-basic-search-icon {
    background-image: url("./img/search-icon-white-2.svg");
    background-size: 60%;
}

.main-search-btn span.main-adv-search-icon {
    background-image: url("https://img.icons8.com/ios/50/FFFFFF/sorting-options--v1.png");
    background-size: 60%;
}

.main-search-input {
    color: white;
    padding: 0.5rem;
    font-weight: 400;
    font-size: var(--large-font-size);
    width: var(--main-search-bar-width);
    height: var(--main-search-bar-height);
    background-color: var(--main-search-background-color);
}

.main-search-input:hover, .main-search-input:focus {
    outline: none;
}

.main-search-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--main-search-border-color);
    width: var(--main-total-search-width);
    font-size: var(--large-font-size);
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    margin: 0;
    background-color: var(--main-search-background-color);
}

.main-search-dropdown:empty {
    border: none;
    padding: 0;
}

/* results CSS below */

/* TRIPTYCH CSS here */

.results-col, .doc-reader-col, .statistics-col {
    height: 100%;
    display: flex;
    flex: 1;
    min-width: var(--min-triptych-column-width);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--main-search-border-color);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: blue; */
    overflow-y: scroll;
}

/* results SEARCHBAR CSS here */

.results-search-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.results-search-bar {
    margin: 0.5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-search-btn {
    width: calc(var(--results-search-button-width) * 1.0);
}

.results-search-input, .results-search-btn {
    border: solid 1px var(--main-search-border-color);
    height: var(--main-search-bar-height);
}

.results-basic-search-btn {
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.results-adv-search-btn {
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.results-search-btn span.results-search-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.results-search-btn span.results-basic-search-icon {
    background-image: url("./img/search-icon-white-2.svg");
    background-size: 60%;
}

.results-search-btn span.results-adv-search-icon {
    background-image: url("https://img.icons8.com/ios/50/FFFFFF/sorting-options--v1.png");
    background-size: 60%;
}

.results-search-input {
    color: white;
    padding: 0.5rem;
    font-weight: 400;
    font-size: var(--large-font-size);
    width: var(--results-search-bar-width);
    height: var(--main-search-bar-height);
    background-color: var(--main-search-background-color);
}

.results-search-input:hover, .results-search-input:focus {
    outline: none;
}

.results-search-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--main-search-border-color);
    width: var(--results-total-search-width);
    font-size: var(--medium-font-size);
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    margin: 0;
    background-color: var(--main-search-background-color);
}

.results-search-dropdown:empty {
    border: none;
    padding: 0;
}

/* results CARD CSS here */

.result-mockup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 90%;
    min-height: 100px;
    margin: 3px;
}

.result-card {
    margin: 0.5rem 0;
    padding: 1.0rem;
    font-size: 0.9rem;
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: var(--result-card-width);
}

.result-card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.result-card-body-en, .result-card-body-zh {
    flex: 1;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0.3rem;
    text-align: justify;
    width: calc(var(--result-card-width) / 2);
    overflow: hidden;
}

.result-card-header {
    padding: 0 0.5rem 0.75rem 0;
    /* margin-top: 0; */
    margin: 0;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.result-card-url {
    /* margin: 0 0 0.5rem 0; */
    margin: 0;
}

/* TriToggle HERE */

/* BiToggle HERE */

.language-toggle {
    --width: 60px;
    --height: 25px;
    --border-thickness: 1.0px;
    --button-proportion: 0.85;
    --button-diameter: calc(var(--button-proportion) * var(--height));
    --button-offset: calc(0.5 * (1.0 - var(--button-proportion)) * var(--height));
    --roundness: 50%;
    --drawspeed: 0.06s;
    --english: "EN";
    --chinese: "中文";
    --toggle-font-size: 0.6rem;
    --toggle-font-weight: 600;
    --left-margin-offset: calc(var(--width) - var(--button-diameter) - 1.5 * var(--button-offset));
    --translate-offset: calc(var(--left-margin-offset) - var(--button-offset));
    --lang-toggle-border-color: #aaa;
    --on-switch-colour: #079338;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-switch {
    display: none;
}

/* The whole switch */
.bitoggle-switch {
    width: var(--width);
    height: var(--height);
    background: rgb(53, 53, 53);
    border-radius: calc(var(--height) / 2);
    border: var(--border-thickness) solid var(--lang-toggle-border-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Draw the left-hand active button, as well as the left- and 
right-hand background buttons */

.bitoggle-switch::after, .bitoggle-left-bg, .bitoggle-right-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--toggle-font-size);
    font-weight: var(--toggle-font-weight);
}

.bitoggle-switch::after, .bitoggle-left-bg::after {
    content: var(--english);
}

.bitoggle-switch::after, .bitoggle-left-bg, .bitoggle-right-bg {
    position: absolute;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--roundness);
    transition: var(--drawspeed) linear 0.05s;
}

.bitoggle-switch::after, .bitoggle-left-bg {
    margin-left: var(--button-offset);
}

.bitoggle-left-bg, .bitoggle-right-bg {
    color: #999;
    background-color: rgb(93, 93, 93);
    border: var(--border-thickness) solid rgb(160, 160, 160);
}

.bitoggle-right-bg{
    margin-left: var(--left-margin-offset);
}

.bitoggle-right-bg::after {
    content: var(--chinese);
}

.bitoggle-switch::after {
    color: white;
    background-color: var(--on-switch-colour);
    /* background-color: red; */
    border: var(--border-thickness) solid rgb(255, 255, 255);
}

.language-switch[type=checkbox]:checked + .bitoggle-switch::after {
    content: var(--chinese);
    transform: translateX(var(--translate-offset));
    transition: var(--drawspeed) linear 0.05s;
}