* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
    font-size: 0.9rem;
}

.card, .card-header, .card-body {
    --border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: var(--border-radius);
    background-color: #222;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #222;
    border-bottom: 1px solid #444;
    padding: 0.15rem;
    margin: 0rem;
}

.card-title {
    margin: 0;
    padding: 0;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #222;
    width: 100%;
    height: 100%;
    padding: 0.7rem;
    overflow-y: scroll;
}

.card-body-en, .card-body-zh {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}