.nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-logo {
    margin: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: var(--large-font-size);
    font-weight: 400;
    padding: 1rem 1rem;
}

.nav-list li {
    margin: none;
    padding: 1.2rem;
}

.nav li.active {
    background-color: #000;
}