:root {
    /* --result-card-width: min(70%, 600px); */
    --result-card-width: 100%;
}

.result-card {
    margin: 0.5rem 0;
    padding: 1.0rem;
    font-size: 0.9rem;
    background-color: #111;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: var(--result-card-width);
}

.result-card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.result-card-body-en, .result-card-body-zh {
    flex: 1;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0.3rem;
    text-align: justify;
    width: calc(var(--result-card-width)/2);
    overflow: hidden;
}

.result-card-header {
    padding: 0 0.5rem;
    margin-top: 0;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.result-card-url {
    margin: 0 0 0.5rem 0;
}