* {
    box-sizing: border-box;
}

.container {
    width: 90vw;
    height: 90vh;
    /* height: 300px; */
    margin: 20px 10px;
    background: #ccc;
    display: flex;
    flex-direction: column;
}
  
.item {
    margin: 10px;
    padding: 30px;
    background: orangered;
    color: white;
}
  
.item--4 {
    flex-grow: 1;
    background: purple;
}