/* .blue-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-button-div {
    --blue-button-width: 100px;
    --blue-button-height: 30px;
    --blue-button-border-radius: calc(var(--blue-button-height) / 6);
    --blue-button-font-size: 0.7rem;
    --blue-button-background-color: hsl(240, 65%, 45%);
    --blue-button-border-color: hsl(240, 90%, 30%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.blue-button {
    --blue-button-width: 100px;
    --blue-button-height: 30px;
    --blue-button-border-radius: calc(var(--blue-button-height) / 6);
    --blue-button-font-size: 0.7rem;
    --blue-button-background-color: hsl(240, 65%, 45%);
    --blue-button-border-color: hsl(240, 90%, 30%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: var(--blue-button-width);
    height: var(--blue-button-height);
    background-color: hsl(240, 65%, 45%);
    color: white;
    font-size: var(--blue-button-font-size);
    font-weight: 400;
    border: 1px solid hsl(240, 90%, 30%);
    border-radius: var(--blue-button-border-radius);
    cursor: pointer;
    margin: 0;
}

.blue-button:hover {
    background-color: hsl(240, 70%, 55%);
}

.blue-button:active {
    background-color: hsl(240, 65%, 45%);
    border: 1px solid hsl(208, 96%, 78%);
    box-shadow: 0px 0px 5px hsl(208, 96%, 78%);
}